p {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    margin-top: 0px;
    text-shadow: #FC0 1px 0 10px;
}

.pav {
    text-align: right;
    font-size: 40px;
}

body {
    background-color: chocolate;
}

#zh {
    font-size: 25px;
}

i {
    font-size: 20px;
    letter-spacing: 3px;
}

footer {
    text-align: center;
    background-color: blueviolet;
    color: green;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 25px;
}